.crearcurso-section {
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.crearcurso-section h2 {
  color: #f58a07;
  font-weight: 700;
  margin: 20px;
}

.form-crear {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.form-crear input,
.form-crear textarea {
  color: #000;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f9ab55;
  resize: none;
}

.form-crear button {
  color: #fff;
  background-color: #f9ab55;
}

.form-crear button:hover {
  background-color: #000;
}

.form-crear label {
  color: #000;
}

.status-div-OK {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  background-color: #5cb85c;
  border-radius: 5px;
  text-align: center;
}

.status-div-ERROR {
  margin: auto;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  background-color: #ed4337;
  border-radius: 5px;
  text-align: center;
}
