.hero {
  height: 80vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.text {
  max-width: 50%;
  padding: 5em 0;
  display: flex;
  flex-direction: column;
}

.text h1,
.text h3,
.text h4 {
  color: #000;
}

.text h1 {
  line-height: 2.8rem;
  max-width: 70%;
  font-size: 3rem;
  font-weight: bold;
}

.text h1 span {
  color: #f9ab55;
  font-weight: bolder;
}

.text h3 {
  max-width: 70%;
}

.text h4 {
  max-width: 50%;
  font-weight: 400;
}

.text h4 span {
  color: #f9ab55;
}

.hero img {
  margin-top: 50px;
  width: 400px;
}
