.login-main {
  background-color: #909cc2;
  display: flex;
  place-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.formcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  height: 650px;
  background-color: #084887;
}

#imgRegister {
  width: 300px;
  margin-bottom: -100px;
  margin-top: -50px;
}

#imgLogin {
  width: 300px;
  margin-bottom: -150px;
}

.formcard form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  color: #000;
  background-color: #fff;
}

.login-form label {
  color: #fff;
}

.login-form button {
  background-color: #f58a07;
  padding: 10px 20px;
}

.login-form button:hover {
  background-color: #f9ab55;
}

.error,
.success {
  color: #fff;
  width: 400px;
  background-color: #ed4337;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.error {
  align-self: center;
  background-color: #ed4337;
}

.success {
  background-color: #5cb85c;
  width: 90%;
  padding: 10px 10px;
}
